<!-- <div class="container">
<div class="form-controls">
<label for="universityid">UniversityId</label>
<input type="text" [ngStyle]="{'width': '25%'}"  class="form-control" [(ngModel)]="universityId" id="universityid">
<label for="studentid">StudentId</label>
<input type="text" [ngStyle]="{'width': '25%'}"  class="form-control"[(ngModel)]="studentId" id="studentid">
<Br>
<button type = "button" class="btn btn-primary" (click)="getStudentInfo()">search</button>
</div>
<div class='search-results'
       *ngIf='studentsCreditInfo.length'>
    <div class='row' *ngFor="let student of studentsCreditInfo" >
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-1'>StudentId:</div>
          <div class='col-md-1'>{{student.id}}</div>
        </div>
        <div class='row'>
          <div class='col-md-1'>FirstName</div>
          <div class='col-md-1'>{{student.firstName | titlecase}}</div>
        </div>
        <div class='row'>
          <div class='col-md-1'>LastName:</div>
          <div class='col-md-1'>{{student.lastName| titlecase}}</div>
        </div>
        <br>
        <button type = "button" class="btn btn-primary">View</button>
      </div>
      </div>
  </div>
</div> -->


<div class="container">
  <!-- Form Controls  -->
  <div class="form-controls">
      <label for="universityid">UniversityId</label>
      <input type="text"  class="form-control" [(ngModel)]="universityId" id="universityid">
      <label for="studentid">StudentId</label>
      <input type="text"  class="form-control" [(ngModel)]="studentId" id="studentid">
      <br>
      <button type="button" class="btn btn-primary" (click)="getStudentInfo()">Search</button>
      
  </div>
  <br> 

   <!-- Search Results  -->
  <ng-container *ngIf="$studentCreditData | async as studentsCreditInfo ">
  <div class="search-results" >
      <div class="row" *ngFor="let student of studentsCreditInfo">
          <div class="col-md-8">
               <!-- Display student information here -->
               <p class="centered"><B>Full Name: {{student.firstName | titlecase}} {{student.lastName | titlecase}}</B></p>
              <p><B>StudentId:</B>{{student.id}}</p>  
              <P><B>UniversityName:</B> {{student.univName}}</P>
              <p><B>DepartmentName:</B> {{student.deptName}}</p>
              <p><B>Address:</B> {{student.address}}</p>
              <p><B>Email:</B> {{student.email}}</p>
              <p><B>Phone Number:</B>{{student.phoneNumber}}</p>
              <p><B>FirstYear:</B>{{student.firstYear}}</p>
              <p><B>SecondYear:</B> {{student.secondYear}}</p>
              <p><B>ThirdYear:</B> {{student.thirdYear}}</p>
              <p><B>Fourth:</B> {{student.fourthYear}}</p>
              <p><B>Fifth:</B> {{student.fifthYear}}</p>
              <p><B>Award:</B> {{student.award | uppercase}}</p>
              <a [routerLink]="['/students/edit', student.univId,student.id]" style="margin-right: 10px;" class="btn btn-primary">Edit</a>
              <button type="button" class="btn btn-primary" style="background-color: red; border-color: red;" (click)="deleteStudentRecord(student.univId,student.id)">Delete</button>
          </div>
      </div>
  </div> 
</ng-container>
   </div> 
 
 









  <!-- <div class='card'>
  <div class='table-responsive'>
  <table class = 'table table-striped' *ngIf="studentsCreditInfo.length">
  <thead>
  <tr>
  <th>UnivId</th>
  <th>UnivName</th>
  <th>DeptId</th>
  <th>DeptName</th> 
  <th>StudentId</th>
  <th>FirstName</th>
  <th>LastName</th> 
  <th>First</th>
  <th>Second</th>
  <th>Third</th>
  <th>Fourth</th>
  <th>Fifth</th>
  <th>Award</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentsCreditInfo"> 
<td>{{student.univId}}</td>
  <td>{{student.univName | uppercase}}</td>
  <td>{{student.departmentId}}</td>
  <td>{{student.deptName | titlecase}}</td> 
  <td>{{student.id}}</td>
  <td>{{student.firstName | titlecase}}</td>
  <td>{{student.lastName| titlecase}}</td> 
  <td>{{student.firstYear}}</td>
  <td>{{student.secondYear}}</td>
  <td>{{student.thirdYear}}</td>
  <td>{{student.fourthYear}}</td>
  <td>{{student.fifthYear}}</td>
  <td>{{student.award | uppercase}}</td> 
  <button type = "button" class="btn btn-primary">View</button>
  </td>
  <td>
    <button type = "button" class="btn btn-primary">Delete</button>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  </div> -->